
 html, body{
   
    overflow-x:hidden;
}

/*Navbar css */
.navbar{
  min-height: 65px;
}

.current a{
    font-weight: bold;
    
    text-decoration:underline;
    
}


/*Homepage jumbotron css*/
.jumbotron{
    background-image:url('../images/code.jpeg');
    background-size:cover;
    color:white;
   height:50vh;
   
}

/*fotter css */
.footer{
    font-size: 20px;
    color:white;
    font-weight:20;
}

.footer-header{
    font-size: 20px;
}

/** About page customer service article**/
.margin-left{
    
}

/** All/universal **/
.indent{
text-indent: 2em;
}

